body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
header {
    margin-top: 40px;
}
main {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    margin: 5px;
    
}

article {
    font-style: italic;
    width: 60%;   
    height: auto; 
    padding: 0.5em;
    margin-top: 0.5em;
    border-radius: 15px;
    background: rgb(174,223,238);
    /* background: linear-gradient(90deg, rgba(174,223,238,1) 0%, rgba(4,49,94,1) 100%); */
    box-shadow: 5px 5px 15px 5px #000000;
    color: darkblue; 
    text-align: center;
}
.div-header {
    display:inline-flex;
    padding-left: 20px;
    width: 90%;
    font-style: normal;
    font-size: small;
    background: rgb(30, 102, 124);    
    text-align: center;
    align-items: center;
    border-radius: 12px;
}
.div-message {
    word-break: break-all;
    display: flex;
    width: auto;
   
    
}
.no-opacity {
    opacity: 0.5;
}
article:hover {
    background-color: rgb(239, 113, 34);
}

button{   
    line-height: 1.5;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(232, 96, 96);
    background-image: linear-gradient(
        to top left,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        rgb(0 0 0 / 0%)
    );
    box-shadow:
        inset 2px 2px 3px rgb(255 255 255 / 60%),
        inset -2px -2px 3px rgb(0 0 0 / 60%);
}

button:hover {
  background-color: rgb(234, 141, 141);
}

input {
    margin: 5px;
}
textarea {
    margin-top: 5em;
    margin-bottom: 1em;
    resize: none;
    
}
h3 {
    margin-right: 15px;
    color: #fff;
}
h4 {
    margin-right: 15px;
}
header h1{
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #05090c;
    text-shadow: #474747 3px 5px 2px;
    background: rgb(235,235,247);
    background: linear-gradient(90deg, rgba(235,235,247,1) 0%, rgba(48,48,84,1) 35%, rgba(1,12,14,1) 100%)
}