body {
    background-color: beige;
    
}
h1 {
    color: blue;
    text-align: center;
}

section h1 {
    color: #fff;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


div {
    border-radius: 10px;
    background: rgb(205,238,174);
    background: linear-gradient(90deg, rgba(205,238,174,1) 0%, rgba(148,190,233,1) 100%);
    margin-left: 100px;
    margin-bottom: 10px;
    width: 80%;   
    height: max-content;
    padding: 20px;
    box-shadow: 60px, black;
    text-align: center;
}
section {
    border-radius: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    margin-left: 100px;
    margin-bottom: 10px;
    width: 80%;   
    height: max-content;
    padding: 20px;
    box-shadow: 60px, black;
    text-align: center;
  
}

span {
    text-align: center;
    
}
button{

    margin: 2px 0 0 0;
    line-height: 1;
    padding: 5 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(232, 96, 96);
    background-image: linear-gradient(
        to top left,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        rgb(0 0 0 / 0%)
    );
    box-shadow:
        inset 2px 2px 3px rgb(255 255 255 / 60%),
        inset -2px -2px 3px rgb(0 0 0 / 60%);
}

button:hover {
  background-color: rgb(234, 141, 141);
}

button:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 60%),
    inset 2px 2px 3px rgb(0 0 0 / 60%);
}

fieldset {
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: cadetblue;
}
legend {
    font-size:medium;
    font-style: normal;
    font-weight: normal;
}
img {
    width: 300px;
    height: 300px;
    border-radius: 25px;
}
